{% extends "ekran.html" %}
{% block body %}
<center>
<hr>
<h3>Hakkımızda</h3>
<h5>
    Selami Uzun ve Mehmet Fatih Yılmaz Antalya/Alanya Hüseyin  Girenes Fen Lisesi öğrencileriyiz. Okulumuza Buğra Ayan’ın gelmesi ve yaptığı yönlendirici konuşmasıyla 2018 Mart ayında Mustafa Murat Coşkun’dan Python yazılım dili dersi almaya başladık ve yaklaşık 4 ayda Selami Uzun gelebilecek son yerlere geldi. Biz hala bu konuda kendimizi geliştirmeye çalışıyoruz ve gelecekte de birlikte güzel projelere imza atmak istiyoruz.
    </h5>
<hr>
</center>
{% endblock body %}