{% extends "ekran.html" %}
{% block body %}
<center>
<h3>Bakıt</h3>
<br>
<h5>Bakıt'ın kelime anlamı "gelecek" dir. Bakıt kelimesinin sitenin misyonuna uygun olduğunu düşündüm ve böyle adlandırmak istedim.</h5>
<hr>
<h3>Misyon Ve Vizyonumuz</h3>
<br>
<h5>Misyonumuz, Türkiye’deki yazılım ve bilişim kaynak eksikliklerinden dolayı insanlar (özellikle gelişmiş İngilizcesi olmayanlar) bu tarz bilişim dallarında sağlam ve etkin bir şekilde gelişemiyorlar. Bu sorunların farkına vardıktan sonra böyle bir sitenin olmasına gerek duyulduğunu düşündük ve bu siteyi faaliyete geçirdik. Bununla birlikte insanların eksikliklerini giderebilecekleri açık bir platform oluşturduk.</h5>
<br>
<h5>Vizyonumuz, misyonumuz doğrultusunda insanları bu bilişim dallarına teşvik etmek ve bu yönde Avrupa medeniyetleri düzeyine gelip ülkemize teknolojik zenginlik katmaktır.</h5>
<hr>
<h3>Teşekkürler</h3>
<br>
<h5>Öncelikle içimizdeki yazılımcıyı duygusunu ateşleyen Buğra Ayan’a, Python öğretmenimiz Mustafa Murat Coşkun’a, bizim her zaman yanımızda olan Akif Yakıoğlu’na ve çeşitli yardımlarda bulunan sevgili sınıf arkadaşlarıma sonsuz teşekkürlerimi iletiyorum.</h5>
</center>


{% endblock body %}