{% extends "ekran.html" %}
{% block body %}

{% if sorular %}
<table class="table table-hover table-dark">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th>Başlık</th>
            <th>Yazar</th>
            <th>Tarih</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
         {% for soru in sorular %}
         <tr>
                <th scope="row">{{soru.id}}</th>
                <td><a href="/soru/{{soru.id}}">{{soru.title}}</a></td>
                <td>{{soru.author}}</td>
                <td>{{soru.date}}</td>
                <td><a href="/edit/{{soru.id}}" class="btn btn-danger">Düzenle</a></td>
                <td><a href="/delete/{{soru.id}}" class="btn btn-danger">sil</a></td>
              </tr>
         {% endfor %}
        </tbody>
      </table>
{% else %}
<div class="alert alert-danger">Aktif sorunuz bulunmuyor...</div>
{% endif %}


{% endblock body %}



